h2{
color: blueviolet;
}
h6{
    font-style:initial;
    font-variant: normal;
    font-size: larger;
}
p{
    font-style: italic;
}
body{
    background-image: ;
}
.x1{
    align-items: center;
}
.x{
    align-items: center;
}
.y1{
    align-items: center;
}
.y{
    align-items: center;
}
.z1{
    align-items: center;
}
.z{
    align-items: center;
}